.navbar{
    padding: 20px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    span{
        display: inline-block;
    }
}

@media (max-width:767px){
    .display-f{
        flex-direction: column!important;
    }
}
