<div class="progress">
    <h3  style="text-align: right;" [ngClass]="{'text-red':perText <=33,'text-amber': (perText>33 && perText<=66),'text-green':perText > 66}">
        {{perText}}% Completed
    </h3>
</div>
<article class="task-wrapper display-f f-justify-between">
    <section id="pending" (drop)="drop($event,'pending')" (dragover)="allowDrop($event)" >
        <div class="tasklist-wrapper display-f f-column">
            <h4>Pending</h4>
            <ul class="tasklist">
                <li *ngFor= "let item of taskList | filter:'pending' | sort" class="tasklist-item" draggable="true" (dragstart)="drag($event,item.id)">
                    <app-task [task]="item"></app-task>
                </li>
                <li *ngIf="(taskList | filter:'pending').length === 0" style="text-align: center;"> No pending task !</li>
            </ul>
        </div>
    </section>
    <section id="progress" (drop)="drop($event,'progress')"  (dragover)="allowDrop($event)" >
        <div class="tasklist-wrapper display-f f-column">
            <h4>Progress</h4>
            <ul class="tasklist">
                <li *ngFor= "let item of taskList | filter:'progress' | sort" class="tasklist-item" draggable="true" (dragstart)="drag($event,item.id)">
                    <app-task [task]="item"></app-task>
                </li>
                <li *ngIf="(taskList | filter:'progress').length === 0" style="text-align: center;"> No progress task !</li>
            </ul>
        </div>
    </section>
    <section id="completed" (drop)="drop($event,'completed')" (dragover)="allowDrop($event)">
        <div class="tasklist-wrapper display-f f-column">
            <h4>Completed</h4>
            <ul class="tasklist">
                <li *ngFor= "let item of taskList | filter:'completed' | sort" class="tasklist-item" draggable="true" (dragstart)="drag($event,item.id)">
                    <app-task [task]="item"></app-task>
                </li>
                <li *ngIf="(taskList | filter:'completed').length === 0" style="text-align: center;"> No Completed task !</li>
            </ul>
        </div>
    </section>
</article>